@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
    font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    outline: none;
}

.main, .footer, .nav {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav {
    height: 8vh;
}

.main {
    height: 70vh;
}

.profile img {
    border-radius: 50%;
    width: 15vh;
}

.nav-div {
    margin-right: 1.2vh;
    display: inline;
    font-size: 2.4vh;
}

.nickname {
    font-size: 5vh;
    margin-top: 1.5vh;
}

.github {
    border-radius: 5vh;
    border: 0;
    background-color: black;
    font-size: 2.6vh;
}

.github a {
    color: white;
}

.github:active {
    transform: scale(0.98);
}

.intro-main {
    font-size: 2.7vh;
    margin: 1vh 0 1.2vh 0;
}

footer, .footer-link {
    font-size: 2.1vh;
    margin-top: 0.5vh;
}

hr {
    margin-bottom: 3vh;
    border: .1px solid black;
    width: 85%;
}

@media screen and (max-height: 300px) {
    
}