@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

* {
    font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}

body {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    margin: 0;
    color: black;
    background-color: white;
}

button {
    cursor: pointer;
    outline: none;
    background-color: white;
}

a {
    text-decoration: none;
}

hr {
    width: 90vw;
    background-color: #eee;
    text-align: center;
    padding: 1px;
    margin: 20px;
    border: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 120vh;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1), 3px 3px 3px rgba(0, 0, 0, .1);
}

.profileImg img {
    border-radius: 50%;
    border: 2px solid rgb(252, 252, 252);
}

.nickname {
    font-size: xx-large;
    font-weight: bold;
    margin: 13px;
}

.project {
    margin: 0 10px 10px 10px;
    border: 2px solid #eee;
    border-radius: 20px;
    width: 42vh;
    height: 8vh;
    align-items: center;
}

.projectMainTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 7px;
}

.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 20px;
    margin: 15px;
}

.projectTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.projectTitle a {
    color: black;
}

.projectDesc {
    color: black;
}

.projectDesc a {
    color: blue;
}

.buttons button:active, .projects:active {
    transform: scale(0.98);
}

.theme-change {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 17.5px;
}

.noscript {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}