@import url(//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap);

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: hsl(64, 100%, 83%);
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    margin-bottom: 2vh;
    height: 15vh;
    background-color: white;
    border-bottom: 0.5px solid gray;
}

header a {
    margin-bottom: 1vh;
}

footer {
    height: 10vh;
}

header, footer, #main, #about, #projects, #skils {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main {
    height: 65vh;
}

#about {
    margin-top: 10vh;
    height: 50vh;
}

#profile-img {
    border-radius: 50%;
    width: 17.5vh;
}

#projects {
    height: 60vh;
}

#skils {
    height: 50vh;
}

.project {
    border: 1px solid black;
    border-radius: 5vh;
    text-align: center;
    padding: 1vh;
    width: 40vh;
    margin-bottom: 2vh;
}

.project-title {
    font-size: 3vh;
}

.project-img, .skils-img {
    width: 7vh;
}

.contact p {
    margin-top: 1vh;
}

.project-github, .button-github {
    background-color: black;
    color: white;
    border-radius: 2vh;
    padding: 0.5vh;
    font-size: 2vh;
}

.button-discord {
    background-color: #7289da;
    color: white;
    border-radius: 2vh;
    padding: 0.5vh;
    font-size: 2vh;
}

.project-site {
    border: 1px solid black;
    border-radius: 2vh;
    padding: 0.5vh;
    font-size: 2vh;
}

.project-site:hover {
    background-color: black;
    color: white;
}

.margin-top {
    margin-top: 2vh;
}

.margin {
    margin-bottom: 2.5vh;
}

.title {
    font-size: 4.5vh;
}

.description {
    font-size: 2.5vh;
    text-align: center;
}

#about-btn {
    background-color: blue;
    color: white;
    border-radius: 2vh;
    padding: 1.5vh;
    cursor: pointer;
}

#about-btn:hover {
    background-color: hsl(226, 100%, 58%);
}

::-webkit-scrollbar {
    width: 1.5vh;
    background-color: rgb(216, 216, 216);
    border-radius: 2.5vh;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 2.5vh;
}

@media (max-width: 500px) {
    header {
        height: 12vh;
    }
}