@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

img {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    vertical-align: middle;
}

img, .icon-text, #main, #skils, #icon {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

.title {
    vertical-align: middle;
    font-size: 2.75rem;
    font-weight: 700;
    margin-left: 7.5px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: white;
}

.section {
    text-align: center;
}

.section:first-child {
    background-image: url(img/background.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section:first-child p {
    font-size: 1.1rem;
}

.section:nth-child(2), .section:nth-child(3) {
    background-color: #080513;
}

.arrow {
    display: block;
    margin: 25px auto;
    width: 25px;
    height: 25px;
    border-right: 2.5px solid #fff;
    border-bottom: 2.5px solid #fff;
    animation: move 1.75s infinite;
    -webkit-animation: move 1.75s infinite;
    -moz-animation: move 1.75s infinite;
    -ms-animation: move 1.75s infinite;
    -o-animation: move 1.75s infinite;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    cursor: pointer;
}

#skils img {
    border-radius: 0 !important;
    margin: 0 7px;
    cursor: pointer;
}

#icon {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#icon li {
    display: inline-block;
    margin: 0 5px;
}

#icon li a {
    color: white;
    text-decoration: none;
    font-size: 1.75rem;
}

@keyframes move {
    from {
        transform: rotate(45deg) translate(20px, 20px);
        -webkit-transform: rotate(45deg) translate(20px 20px);
        -moz-transform: rotate(45deg) translate(20px 20px);
        -ms-transform: rotate(45deg) translate(20px 20px);
        -o-transform: rotate(45deg) translate(20px 20px);
        opacity: 1;
    }

    to {
        transform: rotate(45deg) translate(0);
        -webkit-transform: rotate(45deg) translate(0);
        -moz-transform: rotate(45deg) translate(0);
        -ms-transform: rotate(45deg) translate(0);
        -o-transform: rotate(45deg) translate(0);
        opacity: .1;
    }
}

@-webkit-keyframes move {
    from {
        transform: rotate(45deg) translate(20px, 20px);
        -webkit-transform: rotate(45deg) translate(20px 20px);
        -moz-transform: rotate(45deg) translate(20px 20px);
        -ms-transform: rotate(45deg) translate(20px 20px);
        -o-transform: rotate(45deg) translate(20px 20px);
        opacity: 1;
    }

    to {
        transform: rotate(45deg) translate(0);
        -webkit-transform: rotate(45deg) translate(0);
        -moz-transform: rotate(45deg) translate(0);
        -ms-transform: rotate(45deg) translate(0);
        -o-transform: rotate(45deg) translate(0);
        opacity: .1;
    }
}

@-moz-keyframes move {
    from {
        transform: rotate(45deg) translate(20px, 20px);
        -webkit-transform: rotate(45deg) translate(20px 20px);
        -moz-transform: rotate(45deg) translate(20px 20px);
        -ms-transform: rotate(45deg) translate(20px 20px);
        -o-transform: rotate(45deg) translate(20px 20px);
        opacity: 1;
    }

    to {
        transform: rotate(45deg) translate(0);
        -webkit-transform: rotate(45deg) translate(0);
        -moz-transform: rotate(45deg) translate(0);
        -ms-transform: rotate(45deg) translate(0);
        -o-transform: rotate(45deg) translate(0);
        opacity: .1;
    }
}

@-ms-keyframes move {
    from {
        transform: rotate(45deg) translate(20px, 20px);
        -webkit-transform: rotate(45deg) translate(20px 20px);
        -moz-transform: rotate(45deg) translate(20px 20px);
        -ms-transform: rotate(45deg) translate(20px 20px);
        -o-transform: rotate(45deg) translate(20px 20px);
        opacity: 1;
    }

    to {
        transform: rotate(45deg) translate(0);
        -webkit-transform: rotate(45deg) translate(0);
        -moz-transform: rotate(45deg) translate(0);
        -ms-transform: rotate(45deg) translate(0);
        -o-transform: rotate(45deg) translate(0);
        opacity: .1;
    }
}

@-o-keyframes move {
    from {
        transform: rotate(45deg) translate(20px, 20px);
        -webkit-transform: rotate(45deg) translate(20px 20px);
        -moz-transform: rotate(45deg) translate(20px 20px);
        -ms-transform: rotate(45deg) translate(20px 20px);
        -o-transform: rotate(45deg) translate(20px 20px);
        opacity: 1;
    }

    to {
        transform: rotate(45deg) translate(0);
        -webkit-transform: rotate(45deg) translate(0);
        -moz-transform: rotate(45deg) translate(0);
        -ms-transform: rotate(45deg) translate(0);
        -o-transform: rotate(45deg) translate(0);
        opacity: .1;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 125px;
    background: none;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 70px;
    right: -25px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.projects {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    align-items: center;
    justify-content: center;
}

.project {
    background-color: #151922;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;
    width: 17.5rem;
}

.project-title {
    font-size: 1.1rem;
}